Repository bjlittle/geovista, pull requests merged in 2023-05, with the labels that each got.

#223 Drop Python 3.8 support
  .github/workflows/ci-locks.yml
  .github/workflows/ci-tests.yml
  .github/workflows/ci-wheels.yml
  .pylintrc
  pyproject.toml
  requirements/locks/py38-lock-linux-64.txt
  requirements/locks/py38-lock-osx-64.txt
  requirements/locks/py38-lock-win-64.txt
  src/geovista/bridge.py
  src/geovista/cli.py
  src/geovista/common.py
  src/geovista/filters.py
  src/geovista/geodesic.py
  src/geovista/geometry.py
  src/geovista/search.py
  tests/common/conftest.py
  tox.ini
Labels: type: infrastructure, type: tech debt

#244 add examples auto-labeler
  .github/labeler.yml
  .github/workflows/ci-label.yml
Labels: type: gha

#245 add breaking-change, infrastructure and testing auto-labeler
  .github/labeler.yml
  .github/workflows/ci-label.yml
Labels: type: gha

#246 update readme
  README.md
Labels: type: infrastructure

#247 enable ruff pydocstyle numpy style docstring compliance
  pyproject.toml
  src/geovista/__init__.py
  src/geovista/bridge.py
  src/geovista/cache.py
  src/geovista/cli.py
  src/geovista/common.py
  src/geovista/config.py
  src/geovista/core.py
  src/geovista/crs.py
  src/geovista/examples/__init__.py
  src/geovista/examples/from_1d__oisst.py
  src/geovista/examples/from_1d__oisst_eqc.py
  src/geovista/examples/from_1d__synthetic_face_m1_n1.py
  src/geovista/examples/from_1d__synthetic_face_m1_n1_robin.py
  src/geovista/examples/from_1d__synthetic_node_m1_n1.py
  src/geovista/examples/from_1d__synthetic_node_m1_n1_moll.py
  src/geovista/examples/from_2d__orca.py
  src/geovista/examples/from_2d__orca_moll.py
  src/geovista/examples/from_2d__synthetic_face_m1n1.py
  src/geovista/examples/from_2d__synthetic_face_m1n1_robin.py
  src/geovista/examples/from_2d__synthetic_node_m1n1.py
  src/geovista/examples/from_2d__synthetic_node_m1n1_moll.py
  src/geovista/examples/from_unstructured__fesom.py
  src/geovista/examples/from_unstructured__fesom_fouc.py
  src/geovista/examples/from_unstructured__fvcom.py
  src/geovista/examples/from_unstructured__hexahedron.py
  src/geovista/examples/from_unstructured__hexahedron_poly.py
  src/geovista/examples/from_unstructured__icon.py
  src/geovista/examples/from_unstructured__icon_eqc.py
  src/geovista/examples/from_unstructured__lam_pacific.py
  src/geovista/examples/from_unstructured__lam_pacific_moll.py
  src/geovista/examples/from_unstructured__lfric_orog.py
  src/geovista/examples/from_unstructured__lfric_orog_warp.py
  src/geovista/examples/from_unstructured__lfric_sst.py
  src/geovista/examples/from_unstructured__lfric_sst_bonne.py
  src/geovista/examples/from_unstructured__smc.py
  src/geovista/examples/from_unstructured__smc_sinu.py
  src/geovista/examples/from_unstructured__tri.py
  src/geovista/examples/from_unstructured__tri_hammer.py
  src/geovista/filters.py
  src/geovista/geodesic.py
  src/geovista/geometry.py
  src/geovista/geoplotter.py
  src/geovista/pantry.py
  src/geovista/qt.py
  src/geovista/raster.py
  src/geovista/samples.py
  src/geovista/search.py
  src/geovista/theme.py
Labels: type: documentation, type: infrastructure, type: examples

#248 add performance and tech debt auto-labeler
  .github/workflows/ci-label.yml
Labels: type: gha

#250 remove unused geoplotter proof-of-concept behaviour
  src/geovista/geoplotter.py
Labels: type: tech debt

#252 add readme support section
  README.md
Labels: type: infrastructure

#253 update readme
  README.md
Labels: type: infrastructure

#254 unpin vtk=9.2.2
  requirements/geovista.yml
  requirements/pypi-core.txt
Labels: type: tech debt, type: dependencies

#256 fix geodesic line
  .pylintrc
  README.md
  src/geovista/common.py
  src/geovista/geodesic.py
  src/geovista/geometry.py
  tests/__init__.py
  tests/common/__init__.py
  tests/common/conftest.py
  tests/common/test_to_lonlat.py
  tests/common/test_to_lonlats.py
  tests/geodesic/__init__.py
  tests/geodesic/conftest.py
  tests/geodesic/test_line.py
  tests/search/__init__.py
  tests/search/conftest.py
  tests/search/test_find_cell_neighbours.py
  tests/search/test_find_nearest_cell.py
  tests/test_qt.py
Labels: type: bug, type: infrastructure, type: testing

#257 update readme
  README.md
Labels: type: infrastructure

#258 add geodesic line auto-repeat
  src/geovista/geodesic.py
  tests/geodesic/test_line.py
Labels: type: enhancement, type: testing

#259 add test docstrings and enable ruff coverage
  pyproject.toml
  tests/common/conftest.py
  tests/common/test_to_lonlat.py
  tests/common/test_to_lonlats.py
  tests/geodesic/conftest.py
  tests/geodesic/test_line.py
  tests/search/conftest.py
  tests/search/test_find_cell_neighbours.py
  tests/search/test_find_nearest_cell.py
  tests/test_qt.py
Labels: type: documentation, type: infrastructure, type: testing

#260 replace deprecated open_text with importlib.resources.files
  src/geovista/cache.py
Labels: type: tech debt

#263 reset default zlevel-factor
  src/geovista/common.py
Labels: type: bug

#264 disable bridge mesh cleaning by default
  README.md
  src/geovista/bridge.py
  src/geovista/examples/from_1d__oisst_eqc.py
  src/geovista/examples/from_1d__synthetic_face_m1_n1_robin.py
  src/geovista/examples/from_1d__synthetic_node_m1_n1_moll.py
  src/geovista/examples/from_2d__synthetic_face_m1n1_robin.py
  src/geovista/examples/from_2d__synthetic_node_m1n1_moll.py
  src/geovista/examples/from_unstructured__fesom_fouc.py
  src/geovista/examples/from_unstructured__fvcom.py
Labels: type: enhancement, type: infrastructure, type: performance, type: examples

#265 resolve explicit dependencies with conda-lock
  tox.ini
Labels: type: infrastructure

#268 drop use of codacy service
  .pylintrc
  MANIFEST.in
  README.md
  src/geovista/__main__.py
  src/geovista/cli.py
  src/geovista/common.py
  src/geovista/geodesic.py
  src/geovista/geometry.py
  src/geovista/geoplotter.py
  src/geovista/qt.py
Labels: type: infrastructure, type: tech debt

#270 support spherical mesh radius control for add_mesh
  src/geovista/__init__.py
  src/geovista/bridge.py
  src/geovista/cache.py
  src/geovista/core.py
  src/geovista/filters.py
  src/geovista/geodesic.py
  src/geovista/geoplotter.py
  src/geovista/raster.py
  src/geovista/samples.py
Labels: type: enhancement

#271 add z-control to geovista.core.resize
  src/geovista/bridge.py
  src/geovista/common.py
  src/geovista/core.py
  src/geovista/geodesic.py
  src/geovista/geometry.py
  src/geovista/geoplotter.py
  tests/core/test_resize.py
Labels: type: enhancement, type: testing

#272 add geodesic line z-control
  src/geovista/common.py
  src/geovista/core.py
  src/geovista/filters.py
  src/geovista/geodesic.py
  src/geovista/geoplotter.py
  tests/common/test_distance.py
  tests/core/test_resize.py
  tests/geodesic/test_line.py
Labels: type: enhancement, type: testing

#273 remove duplicate geometry add_coastlines
  src/geovista/geometry.py
Labels: type: tech debt

#277 add pytest-mock dependency
  requirements/geovista.yml
  requirements/pypi-optional-test.txt
Labels: type: dependencies

#275 add coastlines z-control
  src/geovista/__init__.py
  src/geovista/bridge.py
  src/geovista/cache.py
  src/geovista/cli.py
  src/geovista/common.py
  src/geovista/geometry.py
  src/geovista/geoplotter.py
  src/geovista/registry.txt
  tests/common/conftest.py
  tests/geometry/__init__.py
  tests/geometry/conftest.py
  tests/geometry/test_coastlines.py
  tests/geometry/test_load_coastline_geometries.py
  tests/geometry/test_load_coastlines.py
Labels: type: enhancement

#279 tidy and rationalise defaults
  src/geovista/bridge.py
  src/geovista/cache.py
  src/geovista/cli.py
  src/geovista/common.py
  src/geovista/geometry.py
  src/geovista/geoplotter.py
  src/geovista/samples.py
  tests/geometry/test_coastlines.py
  tests/geometry/test_load_coastline_geometries.py
  tests/geometry/test_load_coastlines.py
Labels: type: testing, type: tech debt

#281 add lru cache for pantry examples
  src/geovista/pantry.py
Labels: type: performance

#283 pytest parametrize argument spacing
  tests/common/test_to_lonlat.py
  tests/common/test_to_lonlats.py
  tests/geodesic/test_line.py
Labels: type: testing

#284 rebrand zfactor to zscale
  src/geovista/bridge.py
  src/geovista/common.py
  src/geovista/core.py
  src/geovista/geodesic.py
  src/geovista/geometry.py
  src/geovista/geoplotter.py
  tests/core/test_resize.py
  tests/geodesic/test_line.py
  tests/geometry/test_coastlines.py
  tests/geometry/test_load_coastlines.py
Labels: type: testing

#285 add point cloud support to_spherical
  src/geovista/common.py
  tests/common/test_to_spherical.py
  tests/conftest.py
  tests/geometry/test_load_coastlines.py
Labels: type: enhancement, type: testing

#286 rebrand spherical to cartesian
  src/geovista/bridge.py
  src/geovista/common.py
  src/geovista/core.py
  src/geovista/filters.py
  src/geovista/geodesic.py
  src/geovista/geometry.py
  src/geovista/geoplotter.py
  src/geovista/search.py
  tests/common/test_to_cartesian.py
  tests/geodesic/test_line.py
  tests/search/test_find_nearest_cell.py
Labels: type: testing

#287 add ndim check to to_cartesian
  src/geovista/common.py
  tests/common/test_to_cartesian.py
Labels: type: testing

#290 add crs to coastlines mesh on load
  src/geovista/geometry.py
  tests/geometry/conftest.py
  tests/geometry/test_load_coastlines.py
Labels: type: testing

#291 load lam uk sample lons/lats in fixture
  tests/common/test_to_cartesian.py
  tests/conftest.py
Labels: type: testing

#292 add bridge point cloud support
  src/geovista/bridge.py
  tests/bridge/__init__.py
  tests/bridge/test_from_points.py
  tests/conftest.py
  tests/geometry/conftest.py
Labels: type: enhancement, type: testing

#295 add repo commits badges
  README.md
Labels: type: infrastructure

#296 geovista.qt test coverage
  tests/test_qt.py
Labels: type: testing

#297 bridge test coverage
  tests/bridge/test__as_compatible_data.py
Labels: type: testing

#298 common test coverage
  tests/bridge/test__as_compatible_data.py
  tests/common/test_nan_mask.py
Labels: type: testing

#299 rebrand is_projected to projected, add to_wkt
  src/geovista/bridge.py
  src/geovista/core.py
  src/geovista/crs.py
  src/geovista/geometry.py
  tests/crs/__init__.py
  tests/crs/test_from_wkt.py
  tests/crs/test_projected.py
  tests/crs/test_to_wkt.py
Labels: type: testing
