Repository bjlittle/geovista, pull requests merged in 2023-12, with the labels that each got.

#549 add sphinx-design documentation dependency
  requirements/geovista.yml
  requirements/pypi-optional-docs.txt
Labels: type: dependencies

#550 add rtd status badge
  README.md
Labels: type: infrastructure

#552 add sphinx-design gallery card
  docs/src/_static/images/icons/gallery.svg
  docs/src/conf.py
  docs/src/index.rst
  src/geovista/examples/README.rst
Labels: type: documentation, type: examples

#555 rebrand gallery to examples gallery
  docs/src/index.rst
  src/geovista/examples/README.rst
Labels: type: documentation, type: examples

#558 add x badge
  README.md
Labels: type: infrastructure

#561 Clarify ruff extend-exclude behaviour
  pyproject.toml
Labels: type: infrastructure

#566 bump download/upload artifact gha to v4
  .github/workflows/ci-locks.yml
  .github/workflows/ci-tests.yml
  .github/workflows/ci-wheels.yml
Labels: type: gha

#567 Add group update settings to dependabot
  .github/dependabot.yml
Labels: type: gha

#568 revert upload/download artifact version
  .github/workflows/ci-locks.yml
  .github/workflows/ci-tests.yml
  .github/workflows/ci-wheels.yml
Labels: type: gha

#571 enforce ruff D212 pydocstyle
  pyproject.toml
  src/geovista/bridge.py
  src/geovista/examples/point_cloud/from_points__orca_cloud.py
  src/geovista/examples/point_cloud/from_points__orca_cloud_eqc.py
  src/geovista/examples/vector_data/vectors.py
Labels: type: infrastructure, type: examples

#575 enable ruff format on docstrings
  pyproject.toml
Labels: type: infrastructure

#574 update ci-label gha for dependabot skip changelog
  .github/workflows/ci-label.yml
Labels: type: gha

#577 reword uber h3 gallery example
  src/geovista/examples/spatial_index/uber_h3.py
Labels: type: examples

#578 restructure gallery examples
  src/geovista/examples/point_cloud/from_points__orca_cloud.py
  src/geovista/examples/point_cloud/from_points__orca_cloud_eqc.py
  src/geovista/examples/vector_data/vectors.py
Labels: type: examples

#579 create sphinx-gallery curvilinear section
  docs/src/conf.py
  src/geovista/cache.py
  src/geovista/examples/curvilinear/README.rst
  src/geovista/examples/curvilinear/__init__.py
  src/geovista/examples/curvilinear/from_2d__orca.py
  src/geovista/examples/curvilinear/from_2d__orca_moll.py
  src/geovista/examples/point_cloud/from_points__orca_cloud_eqc.py
  src/geovista/examples/vector_data/vectors.py
  src/geovista/registry.txt
Labels: type: documentation, type: examples

#581 examples minor reformat
  src/geovista/examples/__init__.py
  src/geovista/examples/curvilinear/__init__.py
  src/geovista/examples/curvilinear/from_2d__orca.py
  src/geovista/examples/curvilinear/from_2d__orca_moll.py
  src/geovista/examples/from_unstructured__lfric_sst.py
  src/geovista/examples/from_unstructured__lfric_sst_bonne.py
  src/geovista/examples/from_unstructured__smc.py
  src/geovista/examples/from_unstructured__smc_sinu.py
  src/geovista/examples/from_unstructured__tri.py
  src/geovista/examples/from_unstructured__tri_hammer.py
  src/geovista/examples/point_cloud/__init__.py
  src/geovista/examples/rectilinear/__init__.py
  src/geovista/examples/rectilinear/from_1d__oisst.py
  src/geovista/examples/rectilinear/from_1d__oisst_eqc.py
  src/geovista/examples/spatial_index/__init__.py
  src/geovista/examples/vector_data/__init__.py
Labels: type: examples

#582 restructure rectilinear examples
  src/geovista/cache.py
  src/geovista/examples/rectilinear/from_1d__synthetic_face_m1_n1.py
  src/geovista/examples/rectilinear/from_1d__synthetic_face_m1_n1_robin.py
  src/geovista/examples/rectilinear/from_1d__synthetic_node_m1_n1.py
  src/geovista/examples/rectilinear/from_1d__synthetic_node_m1_n1_moll.py
  src/geovista/examples/rectilinear/from_2d__synthetic_face_m1n1.py
  src/geovista/examples/rectilinear/from_2d__synthetic_face_m1n1_robin.py
  src/geovista/examples/rectilinear/from_2d__synthetic_node_m1n1.py
  src/geovista/examples/rectilinear/from_2d__synthetic_node_m1n1_moll.py
  src/geovista/registry.txt
Labels: type: examples

#583 point cloud example retitle
  src/geovista/examples/point_cloud/from_points__orca_cloud_eqc.py
Labels: type: examples

#584 reformat rectilinear examples
  src/geovista/examples/rectilinear/from_1d__synthetic_face_m1_n1.py
  src/geovista/examples/rectilinear/from_1d__synthetic_face_m1_n1_robin.py
  src/geovista/examples/rectilinear/from_1d__synthetic_node_m1_n1.py
  src/geovista/examples/rectilinear/from_1d__synthetic_node_m1_n1_moll.py
  src/geovista/examples/rectilinear/from_2d__synthetic_face_m1n1.py
  src/geovista/examples/rectilinear/from_2d__synthetic_face_m1n1_robin.py
  src/geovista/examples/rectilinear/from_2d__synthetic_node_m1n1.py
  src/geovista/examples/rectilinear/from_2d__synthetic_node_m1n1_moll.py
Labels: type: examples

#585 create sphinx-gallery warp section
  docs/src/conf.py
  src/geovista/cache.py
  src/geovista/examples/curvilinear/README.rst
  src/geovista/examples/rectilinear/README.rst
  src/geovista/examples/unstructured/README.rst
  src/geovista/examples/unstructured/__init__.py
  src/geovista/examples/unstructured/fesom.py
  src/geovista/examples/unstructured/fesom_fouc.py
  src/geovista/examples/unstructured/icon.py
  src/geovista/examples/unstructured/icon_eqc.py
  src/geovista/examples/unstructured/icosahedral.py
  src/geovista/examples/unstructured/icosahedral_poly.py
  src/geovista/examples/unstructured/lam_pacific.py
  src/geovista/examples/unstructured/lam_pacific_moll.py
  src/geovista/examples/unstructured/lfric_orog.py
  src/geovista/examples/unstructured/lfric_sst.py
  src/geovista/examples/unstructured/lfric_sst_bonne.py
  src/geovista/examples/unstructured/smc.py
  src/geovista/examples/unstructured/smc_sinu.py
  src/geovista/examples/unstructured/tri.py
  src/geovista/examples/unstructured/tri_hammer.py
  src/geovista/examples/warp/README.rst
  src/geovista/examples/warp/__init__.py
  src/geovista/examples/warp/from_unstructured__fvcom.py
  src/geovista/examples/warp/from_unstructured__lfric_orog.py
  src/geovista/registry.txt
Labels: type: documentation, type: examples

#586 examples dynamico rebrand
  README.md
  src/geovista/cache.py
  src/geovista/examples/unstructured/dynamico.py
  src/geovista/examples/unstructured/dynamico_poly.py
  src/geovista/pantry.py
  src/geovista/registry.txt
  src/geovista/samples.py
Labels: type: infrastructure, type: examples, breaking-change

#587 retire unstructured lfric orog example
  src/geovista/cache.py
  src/geovista/examples/unstructured/lfric_orog.py
  src/geovista/registry.txt
Labels: type: examples

#589 add simple gallery introduction
  src/geovista/examples/README.rst
Labels: type: examples

#588 dynamico sphinx-gallery unstructured example
  docs/src/conf.py
  src/geovista/examples/rectilinear/from_1d__synthetic_face_m1_n1_robin.py
  src/geovista/examples/rectilinear/from_1d__synthetic_node_m1_n1_moll.py
  src/geovista/examples/rectilinear/from_2d__synthetic_face_m1n1_robin.py
  src/geovista/examples/rectilinear/from_2d__synthetic_node_m1n1_moll.py
  src/geovista/examples/spatial_index/uber_h3.py
  src/geovista/examples/unstructured/dynamico.py
  src/geovista/examples/unstructured/dynamico_poly.py
Labels: type: documentation, type: examples

#591 icon sphinx-gallery unstructured example
  docs/src/conf.py
  src/geovista/examples/unstructured/icon.py
  src/geovista/examples/unstructured/icon_eqc.py
Labels: type: documentation, type: examples

#590 conditional sphinx note on rtd
  docs/src/conf.py
  src/geovista/examples/README.rst
  src/geovista/examples/spatial_index/uber_h3.py
  src/geovista/examples/unstructured/dynamico.py
  src/geovista/examples/unstructured/dynamico_poly.py
Labels: type: documentation, type: examples

#592 lfric lam sphinx-gallery example
  docs/src/conf.py
  src/geovista/examples/unstructured/icon_eqc.py
  src/geovista/examples/unstructured/lam_pacific.py
  src/geovista/examples/unstructured/lam_pacific_moll.py
Labels: type: documentation, type: examples

#593 lfric sst sphinx-gallery examples
  docs/src/conf.py
  src/geovista/examples/unstructured/lfric_sst.py
  src/geovista/examples/unstructured/lfric_sst_bonne.py
Labels: type: documentation, type: examples

#594 retitle curvilinear and rectilinear examples
  src/geovista/examples/curvilinear/from_2d__orca.py
  src/geovista/examples/curvilinear/from_2d__orca_moll.py
  src/geovista/examples/rectilinear/from_1d__oisst.py
  src/geovista/examples/rectilinear/from_1d__oisst_eqc.py
  src/geovista/examples/rectilinear/from_1d__synthetic_face_m1_n1.py
  src/geovista/examples/rectilinear/from_1d__synthetic_face_m1_n1_robin.py
  src/geovista/examples/rectilinear/from_1d__synthetic_node_m1_n1.py
  src/geovista/examples/rectilinear/from_1d__synthetic_node_m1_n1_moll.py
  src/geovista/examples/rectilinear/from_2d__synthetic_face_m1n1.py
  src/geovista/examples/rectilinear/from_2d__synthetic_face_m1n1_robin.py
  src/geovista/examples/rectilinear/from_2d__synthetic_node_m1n1.py
  src/geovista/examples/rectilinear/from_2d__synthetic_node_m1n1_moll.py
Labels: type: examples

#595 smc sphinx-gallery examples
  docs/src/conf.py
  src/geovista/examples/unstructured/smc.py
  src/geovista/examples/unstructured/smc_sinu.py
Labels: type: documentation, type: examples

#596 tri sphinx-gallery examples
  docs/src/conf.py
  src/geovista/examples/unstructured/tri.py
  src/geovista/examples/unstructured/tri_hammer.py
Labels: type: documentation, type: examples

#597 use esri for orca example
  src/geovista/cache.py
  src/geovista/examples/curvilinear/from_2d__orca_moll.py
  src/geovista/registry.txt
Labels: type: examples

#598 earthquakes sphinx-gallery examples
  docs/src/conf.py
  src/geovista/cache.py
  src/geovista/examples/earthquakes.py
  src/geovista/examples/earthquakes_wink1.py
  src/geovista/examples/scalar_data/README.rst
  src/geovista/examples/scalar_data/__init__.py
  src/geovista/examples/scalar_data/earthquakes.py
  src/geovista/examples/scalar_data/earthquakes_wink1.py
  src/geovista/registry.txt
Labels: type: documentation, type: examples

#599 reformat fesom examples
  src/geovista/examples/unstructured/fesom.py
  src/geovista/examples/unstructured/fesom_fouc.py
Labels: type: examples

#602 reformat clouds examples
  src/geovista/examples/clouds.py
  src/geovista/examples/clouds_robin.py
Labels: type: examples

#603 gallery warp lfric orog eqc
  src/geovista/cache.py
  src/geovista/examples/curvilinear/from_2d__orca_moll.py
  src/geovista/examples/warp/from_unstructured__lfric_orog_eqc.py
  src/geovista/registry.txt
Labels: type: examples

#605 add cli download decompress option
  .readthedocs.yml
  src/geovista/cli.py
Labels: type: infrastructure

#607 add cli examples --groups and --run-group
  src/geovista/cli.py
Labels: type: cli

#608 add missing cli auto-label
  .github/labeler.yml
Labels: type: gha
