Repository bjlittle/geovista, pull requests merged in 2023-09, with the labels that each got.

#422 make example scripts executable
  src/geovista/examples/clouds.py
  src/geovista/examples/clouds_robin.py
  src/geovista/examples/earthquakes.py
Labels: type: examples

#428 fix geovista.core.slice_lines for pyvista 0.42
  src/geovista/core.py
  tests/core/test_slice_lines.py
Labels: type: bug, type: testing

#431 refactor opacity warning
  src/geovista/common.py
  src/geovista/examples/clouds.py
  src/geovista/examples/clouds_robin.py
  src/geovista/examples/from_points__orca_cloud.py
  src/geovista/examples/from_points__orca_cloud_eqc.py
  src/geovista/geoplotter.py
  tests/geoplotter/__init__.py
  tests/geoplotter/test__warn_opacity.py
  tests/geoplotter/test_add_base_layer.py
  tests/geoplotter/test_add_mesh.py
Labels: type: testing, type: examples

#434 update opacity warning
  src/geovista/geoplotter.py
  tests/geoplotter/test__warn_opacity.py
  tests/geoplotter/test_add_base_layer.py
  tests/geoplotter/test_add_mesh.py
Labels: type: testing

#435 remove build number from gha ci caches
  .github/workflows/ci-locks.yml
  .github/workflows/ci-tests.yml
  .github/workflows/ci-wheels.yml
  .github/workflows/composite/cartopy-cache/action.yml
  .github/workflows/composite/conda-env-cache/action.yml
  .github/workflows/composite/conda-pkg-cache/action.yml
  .github/workflows/composite/tox-cache/action.yml
Labels: type: gha

#409 add transform point and points
  src/geovista/bridge.py
  src/geovista/crs.py
  src/geovista/geoplotter.py
  src/geovista/search.py
  src/geovista/transform.py
  tests/transform/__init__.py
  tests/transform/test_transform_point.py
  tests/transform/test_transform_points.py
Labels: type: enhancement, type: testing, breaking-change, scipy 2023

#437 add missing examples noqa directive
  src/geovista/examples/earthquakes.py
  src/geovista/examples/vectors.py
Labels: type: examples

#438 use default antialiasing
  src/geovista/examples/vectors.py
Labels: type: examples

#440 add geovista.crs.has_wkt
  src/geovista/crs.py
  tests/conftest.py
  tests/core/test_slice_lines.py
  tests/crs/test_has_wkt.py
  tests/crs/test_projected.py
  tests/crs/test_to_wkt.py
Labels: type: testing

#442 support cartographic add_points
  src/geovista/examples/earthquakes.py
  src/geovista/geoplotter.py
  tests/geometry/test_coastlines.py
  tests/geoplotter/test_add_points.py
  tests/transform/test_transform_point.py
Labels: type: enhancement, type: testing, type: examples

#445 reduce codecov coverage threshold
  codecov.yml
Labels: type: infrastructure

#448 fix lighting for vectors example
  src/geovista/examples/vectors.py
Labels: type: examples

#454 Auto approve dependabot PRs
  .github/workflows/ci-approve.yml
Labels: type: gha

#456 Temporary pin pyvista<0.42.2
  requirements/geovista.yml
  requirements/pypi-core.txt
Labels: type: dependencies

#458 Add pytest-pyvista test package
  requirements/geovista.yml
  requirements/pypi-optional-test.txt
Labels: type: dependencies

#455 Enable off-screen rendering of examples
  src/geovista/examples/clouds.py
  src/geovista/examples/clouds_robin.py
  src/geovista/examples/earthquakes.py
  src/geovista/examples/earthquakes_wink1.py
  src/geovista/examples/from_1d__oisst.py
  src/geovista/examples/from_1d__oisst_eqc.py
  src/geovista/examples/from_1d__synthetic_face_m1_n1.py
  src/geovista/examples/from_1d__synthetic_face_m1_n1_robin.py
  src/geovista/examples/from_1d__synthetic_node_m1_n1.py
  src/geovista/examples/from_1d__synthetic_node_m1_n1_moll.py
  src/geovista/examples/from_2d__orca.py
  src/geovista/examples/from_2d__orca_moll.py
  src/geovista/examples/from_2d__synthetic_face_m1n1.py
  src/geovista/examples/from_2d__synthetic_face_m1n1_robin.py
  src/geovista/examples/from_2d__synthetic_node_m1n1.py
  src/geovista/examples/from_2d__synthetic_node_m1n1_moll.py
  src/geovista/examples/from_points__orca_cloud.py
  src/geovista/examples/from_points__orca_cloud_eqc.py
  src/geovista/examples/from_unstructured__fesom.py
  src/geovista/examples/from_unstructured__fesom_fouc.py
  src/geovista/examples/from_unstructured__fvcom.py
  src/geovista/examples/from_unstructured__icon.py
  src/geovista/examples/from_unstructured__icon_eqc.py
  src/geovista/examples/from_unstructured__icosahedral.py
  src/geovista/examples/from_unstructured__icosahedral_poly.py
  src/geovista/examples/from_unstructured__lam_pacific.py
  src/geovista/examples/from_unstructured__lam_pacific_moll.py
  src/geovista/examples/from_unstructured__lfric_orog.py
  src/geovista/examples/from_unstructured__lfric_orog_warp.py
  src/geovista/examples/from_unstructured__lfric_sst.py
  src/geovista/examples/from_unstructured__lfric_sst_bonne.py
  src/geovista/examples/from_unstructured__smc.py
  src/geovista/examples/from_unstructured__smc_sinu.py
  src/geovista/examples/from_unstructured__tri.py
  src/geovista/examples/from_unstructured__tri_hammer.py
Labels: type: examples

#460 Add `fastparquet` and `pandas` examples package
  pyproject.toml
  requirements/geovista.yml
  requirements/pypi-optional-exam.txt
Labels: type: dependencies

#462 Min pin cartopy>=0.22 for no GEOS
  requirements/geovista.yml
  requirements/pypi-core.txt
Labels: type: dependencies

#464 Render with osmesa vtk in GHA CI
  .github/workflows/ci-locks.yml
Labels: type: gha

#467 NEP29 compliance drop schedule for numpy
  requirements/geovista.yml
  requirements/pypi-core.txt
Labels: type: dependencies, type: nep-29

#468 Render with qt vtk in GHA CI
  .github/workflows/ci-locks.yml
Labels: type: gha

#472 Add pytest-xvfb
  requirements/geovista.yml
  requirements/pypi-optional-test.txt
Labels: type: dependencies

#474 Reorder pyproject optional dependencies
  pyproject.toml
Labels: type: infrastructure

#470 Adopt pytest-pyvista and qt/xvfb
  .github/workflows/ci-tests.yml
  .pre-commit-config.yaml
  codecov.yml
  pyproject.toml
  src/geovista/examples/clouds.py
  src/geovista/examples/clouds_robin.py
  src/geovista/examples/earthquakes.py
  src/geovista/examples/earthquakes_wink1.py
  src/geovista/examples/from_1d__oisst.py
  src/geovista/examples/from_1d__oisst_eqc.py
  src/geovista/examples/from_1d__synthetic_face_m1_n1.py
  src/geovista/examples/from_1d__synthetic_face_m1_n1_robin.py
  src/geovista/examples/from_1d__synthetic_node_m1_n1.py
  src/geovista/examples/from_1d__synthetic_node_m1_n1_moll.py
  src/geovista/examples/from_2d__orca.py
  src/geovista/examples/from_2d__orca_moll.py
  src/geovista/examples/from_2d__synthetic_face_m1n1.py
  src/geovista/examples/from_2d__synthetic_face_m1n1_robin.py
  src/geovista/examples/from_2d__synthetic_node_m1n1.py
  src/geovista/examples/from_2d__synthetic_node_m1n1_moll.py
  src/geovista/examples/from_points__orca_cloud.py
  src/geovista/examples/from_points__orca_cloud_eqc.py
  src/geovista/examples/from_unstructured__fesom.py
  src/geovista/examples/from_unstructured__fesom_fouc.py
  src/geovista/examples/from_unstructured__fvcom.py
  src/geovista/examples/from_unstructured__icon.py
  src/geovista/examples/from_unstructured__icon_eqc.py
  src/geovista/examples/from_unstructured__icosahedral.py
  src/geovista/examples/from_unstructured__icosahedral_poly.py
  src/geovista/examples/from_unstructured__lam_pacific.py
  src/geovista/examples/from_unstructured__lam_pacific_moll.py
  src/geovista/examples/from_unstructured__lfric_orog.py
  src/geovista/examples/from_unstructured__lfric_orog_warp.py
  src/geovista/examples/from_unstructured__lfric_sst.py
  src/geovista/examples/from_unstructured__lfric_sst_bonne.py
  src/geovista/examples/from_unstructured__smc.py
  src/geovista/examples/from_unstructured__smc_sinu.py
  src/geovista/examples/from_unstructured__tri.py
  src/geovista/examples/from_unstructured__tri_hammer.py
  tests/plotting/__init__.py
  tests/plotting/image_cache/earthquakes.png
  tests/plotting/test_examples.py
  tox.ini
Labels: type: infrastructure, type: testing, type: gha, type: examples

#476 Elevate high variance warning level for image tests
  tests/plotting/test_examples.py
Labels: type: testing

#477 tox pre-create pytest-pyvista test images directory
  tox.ini
Labels: type: infrastructure

#478 Elevate tox pytest warnings to errors
  tox.ini
Labels: type: infrastructure

#479 Mute pooch during tox tests
  tox.ini
Labels: type: infrastructure
