Repository bjlittle/geovista, pull requests merged in 2023-07, with the labels that each got.

#360 rebrand geovista.core.cut_along_meridian
  src/geovista/__init__.py
  src/geovista/core.py
  src/geovista/geoplotter.py
  tests/core/test_slice_cells.py
Labels: type: testing, breaking-change

#364 update codecov ignores
  codecov.yml
Labels: type: infrastructure

#365 codecov ignore cli
  codecov.yml
Labels: type: infrastructure

#367 add samples.regular_grid
  src/geovista/examples/from_1d__synthetic_face_m1_n1.py
  src/geovista/examples/from_1d__synthetic_face_m1_n1_robin.py
  src/geovista/examples/from_1d__synthetic_node_m1_n1.py
  src/geovista/examples/from_1d__synthetic_node_m1_n1_moll.py
  src/geovista/examples/from_2d__synthetic_face_m1n1.py
  src/geovista/examples/from_2d__synthetic_face_m1n1_robin.py
  src/geovista/examples/from_2d__synthetic_node_m1n1.py
  src/geovista/examples/from_2d__synthetic_node_m1n1_moll.py
  src/geovista/geodesic.py
  src/geovista/geoplotter.py
  src/geovista/samples.py
Labels: type: examples

#368 update readme with graticule examples
  README.md
Labels: type: infrastructure

#369 update examples with graticule, change default lon_step=45
  README.md
  src/geovista/examples/from_unstructured__icosahedral.py
  src/geovista/examples/from_unstructured__icosahedral_poly.py
  src/geovista/examples/from_unstructured__lfric_sst.py
  src/geovista/examples/from_unstructured__lfric_sst_bonne.py
  src/geovista/gridlines.py
Labels: type: infrastructure, type: examples

#370 update LICENSE year
  LICENSE
Labels: type: bug, type: infrastructure

#378 orca moll example with explicit mesh transform and extrude
  src/geovista/examples/from_2d__orca_moll.py
Labels: type: examples

#379 remove explicit vtk dependency
  .github/workflows/ci-locks.yml
  requirements/geovista.yml
  requirements/pypi-core.txt
  tox.ini
Labels: type: infrastructure, type: dependencies, type: gha

#382 Add sample earthquake example
  src/geovista/cache.py
  src/geovista/examples/from_2d__earthquake.py
  src/geovista/pantry.py
  src/geovista/registry.txt
Labels: type: enhancement, type: examples, scipy 2023

#385 update earthquakes example
  src/geovista/cache.py
  src/geovista/examples/earthquakes.py
  src/geovista/examples/from_2d__earthquake.py
  src/geovista/pantry.py
Labels: type: examples, scipy 2023

#386 update earthquakes example docstring
  pyproject.toml
  src/geovista/examples/earthquakes.py
Labels: type: bug, type: infrastructure, type: examples, scipy 2023

#387 Add an easy wind vector example
  src/geovista/examples/vectors.py
Labels: type: enhancement, type: examples, scipy 2023

#395 add scooby environment and gpu report support
  codecov.yml
  pyproject.toml
  src/geovista/__init__.py
  src/geovista/report.py
Labels: type: enhancement, type: infrastructure

#398 fix typing ellipsis usage
  src/geovista/core.py
  src/geovista/gridlines.py
  src/geovista/samples.py
Labels: type: bug

#399 Update README.md
  README.md
Labels: type: infrastructure
