Repository bjlittle/geovista, pull requests merged in 2023-06, with the labels that each got.

#301 add common point-cloud support
  src/geovista/bridge.py
  src/geovista/common.py
  src/geovista/core.py
  src/geovista/geoplotter.py
  tests/bridge/test_from_points.py
  tests/common/test_distance.py
  tests/common/test_from_cartesian.py
  tests/common/test_point_cloud.py
  tests/common/test_to_cartesian.py
  tests/common/test_to_lonlat.py
  tests/common/test_to_lonlats.py
Labels: type: enhancement, type: testing

#304 extend common test coverage
  tests/common/test_sanitize_data.py
  tests/common/test_triangulated.py
Labels: type: testing

#307 add orca point-cloud example
  src/geovista/cache.py
  src/geovista/examples/from_points__orca_cloud.py
  src/geovista/pantry.py
  src/geovista/registry.txt
  src/geovista/samples.py
Labels: type: examples

#311 add pykdtree dependency
  requirements/geovista.yml
  requirements/pypi-core.txt
Labels: type: dependencies

#314 ci-locks crontab update
  .github/workflows/ci-locks.yml
Labels: type: gha

#315 fix crontab format
  .github/workflows/ci-locks.yml
Labels: type: bug, type: gha

#313 add geometry preference enumeration support
  src/geovista/common.py
  src/geovista/geodesic.py
  src/geovista/samples.py
  tests/common/test_Preference.py
  tests/conftest.py
  tests/geodesic/conftest.py
  tests/geodesic/test_BBox.py
  tests/geodesic/test_Preference.py
  tests/samples/__init__.py
  tests/samples/test_fvcom_tamar.py
Labels: type: enhancement, type: testing

#318 extend geodesic.BBox.enclosed test coverage
  tests/geodesic/test_BBox.py
Labels: type: testing

#319 optimise geodesic.BBox.enclosed for cell preference
  src/geovista/geodesic.py
Labels: type: performance

#324 add dynamico icosahedral pantry, sample and example
  src/geovista/cache.py
  src/geovista/examples/from_unstructured__icosahedral.py
  src/geovista/examples/from_unstructured__icosahedral_poly.py
  src/geovista/pantry.py
  src/geovista/registry.txt
  src/geovista/samples.py
Labels: type: examples

#326 add dynamico icosahedral to readme
  README.md
  pyproject.toml
Labels: type: infrastructure

#328 point-cloud example executable and smaller point size
  src/geovista/examples/from_points__orca_cloud.py
Labels: type: examples

#332 update readme
  README.md
Labels: type: infrastructure

#334 geovista.common.wrap test coverage
  src/geovista/common.py
  src/geovista/geoplotter.py
  tests/common/test_wrap.py
Labels: type: testing

#336 geovista.common.activte_kernel test coverage
  tests/common/test_active_kernel.py
Labels: type: testing

#339 UniformGrid -> ImageData
  src/geovista/raster.py
  tests/core/test_cut_along_meridian.py
Labels: type: bug, type: testing

#341 update readme
  README.md
Labels: type: infrastructure

#342 update pr auto-labeler
  .github/workflows/ci-label.yml
Labels: type: gha

#347 add break auto-label
  .github/workflows/ci-label.yml
Labels: type: gha

#348 add nep auto-label
  .github/workflows/ci-label.yml
Labels: type: gha

#349 move cast to geovista.common
  src/geovista/__init__.py
  src/geovista/common.py
  src/geovista/core.py
  src/geovista/filters.py
  src/geovista/geodesic.py
  src/geovista/geoplotter.py
Labels: breaking-change

#351 add line projection support
  src/geovista/common.py
  src/geovista/core.py
  src/geovista/geoplotter.py
  tests/common/test_from_cartesian.py
  tests/conftest.py
  tests/core/test_slice_lines.py
Labels: type: enhancement, type: testing

#352 trigger ci-label on edited event
  .github/workflows/ci-label.yml
Labels: type: gha

#353 update projected examples with natural earth coastlines
  src/geovista/examples/from_1d__oisst_eqc.py
  src/geovista/examples/from_1d__synthetic_face_m1_n1_robin.py
  src/geovista/examples/from_1d__synthetic_node_m1_n1_moll.py
  src/geovista/examples/from_2d__orca_moll.py
  src/geovista/examples/from_2d__synthetic_face_m1n1_robin.py
  src/geovista/examples/from_2d__synthetic_node_m1n1_moll.py
  src/geovista/examples/from_unstructured__fesom_fouc.py
  src/geovista/examples/from_unstructured__icon_eqc.py
  src/geovista/examples/from_unstructured__icosahedral_poly.py
  src/geovista/examples/from_unstructured__lam_pacific_moll.py
  src/geovista/examples/from_unstructured__lfric_sst_bonne.py
  src/geovista/examples/from_unstructured__smc_sinu.py
  src/geovista/examples/from_unstructured__tri_hammer.py
Labels: type: examples

#354 add orca cloud projection example
  src/geovista/examples/from_points__orca_cloud_eqc.py
Labels: type: examples

#355 avoid mpl 3.7 get_cmap deprecation warning
  src/geovista/examples/from_unstructured__icon.py
  src/geovista/examples/from_unstructured__icon_eqc.py
Labels: type: tech debt, type: examples

#356 update readme examples with coastline projections
  README.md
Labels: type: infrastructure

#358 update geovista.theme and min pin pyvista>=0.40
  requirements/geovista.yml
  requirements/pypi-core.txt
  src/geovista/theme.py
Labels: type: dependencies

#359 update readme with theme refresh
  README.md
Labels: type: infrastructure
