Repository bjlittle/geovista, pull requests merged in 2024-11, with the labels that each got.

#1202 add pooch fetch user-agent header
  changelog/1202.bugfix.rst
  docs/src/conf.py
  pyproject.toml
  src/geovista/cache/__init__.py
  tests/cache/test_CACHE.py
Labels: type: documentation, type: infrastructure, type: testing

#1203 social: migrate from x to bluesky
  README.md
  changelog/1203.community.rst
Labels: type: infrastructure

#1209 docs: migrate from x to bluesky icon
  changelog/1209.community.rst
  docs/src/conf.py
  docs/src/developer/changelog.md
  pyproject.toml
Labels: type: documentation, type: infrastructure

#1207 Add `taplo` pre-commit hook to format and sort `toml` files
  .pre-commit-config.yaml
  .ruff.toml
  changelog/1207.contributor.rst
  pyproject.toml
Labels: type: infrastructure

#1211 ruff: FBT and TD compliance
  .ruff.toml
  changelog/1207.contributor.rst
  changelog/1211.contributor.rst
  docs/src/conf.py
  pyproject.toml
  src/geovista/bridge.py
  src/geovista/cli.py
  src/geovista/filters.py
  tests/common/test_to_cartesian.py
Labels: type: documentation, type: infrastructure, type: testing, type: cli

#1212 ruff: ANN compliance
  .ruff.toml
  changelog/1212.contributor.rst
  pyproject.toml
Labels: type: infrastructure

#1214 ruff: PLR compliance
  .ruff.toml
  changelog/1214.contributor.rst
  pyproject.toml
Labels: type: infrastructure

#1215 ruff: PLW compliance
  .ruff.toml
  changelog/1215.contributor.rst
  pyproject.toml
  src/geovista/cache/__init__.py
  src/geovista/cli.py
  tests/cache/test_pooch_mute.py
  tests/core/test_slice_lines.py
Labels: type: infrastructure, type: testing, type: cli

#1216 ruff: SLF compliance
  .ruff.toml
  changelog/1216.contributor.rst
  pyproject.toml
  src/geovista/cache/__init__.py
  src/geovista/common.py
  src/geovista/core.py
  src/geovista/filters.py
  tests/plotting/__init__.py
Labels: type: infrastructure, type: testing

#1217 ruff: drop use of .ruff.toml
  .ruff.toml
  MANIFEST.in
  changelog/1217.contributor.rst
  pyproject.toml
Labels: type: infrastructure

#1222 add changelog news fragment for #1219
  changelog/1219.internal.rst
Labels: skip changelog

#1225 chore: update ruff for v0.8.0
  .pre-commit-config.yaml
  changelog/1008.contributor.rst
  changelog/1064.contributor.rst
  changelog/1225.contributor.rst
  pyproject.toml
  src/geovista/bridge.py
  src/geovista/common.py
  src/geovista/core.py
  src/geovista/crs.py
  src/geovista/geodesic.py
  src/geovista/geoplotter.py
  src/geovista/gridlines.py
  src/geovista/report.py
  tests/core/test_slice_lines.py
Labels: type: infrastructure, type: testing

#1226 docs: resolve unnecessary linkcheck redirects
  changelog/1226.documentation.rst
  docs/src/overview.rst
  docs/src/quick_start.rst
  docs/src/reference/bindings.rst
  docs/src/reference/environment.rst
  docs/src/reference/glossary.rst
  src/geovista/examples/scalar_data/from_tiff__dem.py
  src/geovista/examples/scalar_data/from_tiff__rgb.py
  src/geovista/examples/warp/from_unstructured__fvcom.py
  src/geovista/examples/warp/from_unstructured__lfric_orog.py
  src/geovista/examples/warp/from_unstructured__lfric_orog_eqc.py
Labels: type: bug, type: documentation, type: examples

#1227 drop setup.py
  changelog/1227.contributor.rst
  setup.py
  src/geovista/cli.py
  tox.ini
Labels: type: infrastructure
