Repository bjlittle/geovista, pull requests merged in 2024-06, with the labels that each got.

#813 gha cache geovista assets
  .github/workflows/ci-docs.yml
  .github/workflows/ci-tests.yml
  .github/workflows/composite/cartopy-cache/action.yml
  .github/workflows/composite/conda-env-cache/action.yml
  .github/workflows/composite/conda-pkg-cache/action.yml
  .github/workflows/composite/geovista-cache/action.yml
  tox.ini
Labels: type: infrastructure, type: gha

#814 pin pydata-sphinx-theme<0.15.3
  requirements/geovista.yml
  requirements/pypi-optional-docs.txt
Labels: type: dependencies

#821 bump to latest geovista-data
  .readthedocs.yml
  src/geovista/cache/__init__.py
  src/geovista/cache/registry.txt
  src/geovista/cli.py
Labels: type: infrastructure, type: cli, type: cache

#819 add cartographic camera POI control
  src/geovista/geoplotter.py
  src/geovista/transform.py
  tests/conftest.py
  tests/geoplotter/test_view_poi.py
  tests/plotting/__init__.py
  tests/plotting/geoplotter/__init__.py
  tests/plotting/geoplotter/test_view_poi.py
  tests/plotting/test_examples.py
Labels: type: testing

#822 remove test examples cache
  pyproject.toml
  tests/plotting/test_examples.py
Labels: type: infrastructure, type: testing

#825 add generic image test caching
  src/geovista/cache/__init__.py
  src/geovista/cache/registry.txt
  tests/conftest.py
  tests/plotting/test_examples.py
Labels: type: testing, type: cache

#826 Various `README` suggestions
  README.md
Labels: type: documentation, type: infrastructure

#829 Changes to `geodesic` docstrings
  src/geovista/geodesic.py
Labels: type: documentation

#830 reword readme
  README.md
Labels: type: infrastructure

#831 scale readme images with inline css
  README.md
Labels: type: infrastructure

#832 Update README.md
  README.md
Labels: type: infrastructure

#833 reformat readme code examples
  README.md
Labels: type: infrastructure

#835 adopt min pin for sphinx themes
  requirements/geovista.yml
  requirements/pypi-optional-docs.txt
Labels: type: dependencies

#838 rebrand um to nemo for orca2
  README.md
  src/geovista/examples/curvilinear/from_2d__orca.py
  src/geovista/examples/curvilinear/from_2d__orca_moll.py
  src/geovista/examples/point_cloud/from_points__orca_cloud.py
  src/geovista/examples/point_cloud/from_points__orca_cloud_eqc.py
  src/geovista/pantry/data.py
  src/geovista/pantry/meshes.py
  tests/pantry/meshes/test__points_cells.py
Labels: type: infrastructure, type: testing, type: examples, breaking-change

#841 Docstring suggestions
  src/geovista/bridge.py
  src/geovista/cache/__init__.py
  src/geovista/pantry/__init__.py
  src/geovista/pantry/data.py
Labels: type: documentation

#839 Review of the 'warp' examples.
  src/geovista/examples/scalar_data/from_tiff__dem.py
  src/geovista/examples/warp/from_unstructured__fvcom.py
  src/geovista/examples/warp/from_unstructured__lfric_orog.py
  src/geovista/examples/warp/from_unstructured__lfric_orog_eqc.py
Labels: type: examples

#848 Improve h3 example documentation
  src/geovista/examples/spatial_index/uber_h3.py
Labels: type: examples

#828 docs: populate geovista 101
  README.md
  docs/src/_static/images/axes-of-needs.png
  docs/src/_static/images/ecosystem.png
  docs/src/_static/images/icons/contributing.svg
  docs/src/_static/images/icons/enrichment.svg
  docs/src/_static/images/icons/examples.svg
  docs/src/_static/images/icons/explanation.svg
  docs/src/_static/images/icons/howtos.svg
  docs/src/_static/images/icons/reference.svg
  docs/src/_static/images/icons/tags.svg
  docs/src/_static/images/icons/tutorials.svg
  docs/src/_static/images/pyvista-examples.png
  docs/src/_static/style.css
  docs/src/common.txt
  docs/src/conf.py
  docs/src/developer/index.rst
  docs/src/explanation/index.rst
  docs/src/howtos/index.rst
  docs/src/index.rst
  docs/src/installation.rst
  docs/src/next_steps.rst
  docs/src/overview.rst
  docs/src/quick_start.rst
  docs/src/reference/about.rst
  docs/src/reference/changelog.rst
  docs/src/reference/cli.rst
  docs/src/reference/env_vars.rst
  docs/src/reference/glossary.rst
  docs/src/reference/index.rst
  docs/src/reference/key_bindings.rst
  docs/src/reference/whatsnew.rst
  docs/src/tutorials/index.rst
  src/geovista/examples/README.rst
  src/geovista/examples/unstructured/fesom.py
  src/geovista/examples/unstructured/fesom_fouc.py
  src/geovista/examples/unstructured/lam_pacific.py
  src/geovista/examples/unstructured/lam_pacific_moll.py
  src/geovista/examples/unstructured/lfric_sst.py
  src/geovista/examples/unstructured/lfric_sst_bonne.py
  src/geovista/examples/unstructured/tri.py
  src/geovista/examples/unstructured/tri_hammer.py
  src/geovista/examples/warp/from_unstructured__fvcom.py
  src/geovista/examples/warp/from_unstructured__lfric_orog.py
  src/geovista/examples/warp/from_unstructured__lfric_orog_eqc.py
  src/geovista/geodesic.py
Labels: type: documentation, type: infrastructure, type: examples

#844 Geoplotter docstring suggestions
  src/geovista/common.py
  src/geovista/core.py
  src/geovista/filters.py
  src/geovista/geoplotter.py
  src/geovista/gridlines.py
  src/geovista/transform.py
Labels: type: documentation

#851 docs: increase left sidebar max-navbar-depth
  docs/src/conf.py
Labels: type: documentation

#852 add sphinx-togglebutton dependency
  requirements/geovista.yml
  requirements/pypi-optional-docs.txt
Labels: type: dependencies

#855 docs: use togglebutton for admonition
  docs/src/conf.py
  docs/src/installation.rst
  docs/src/next_steps.rst
  docs/src/quick_start.rst
  src/geovista/examples/README.rst
Labels: type: documentation, type: examples

#854 Updating common.py docstrings
  docs/src/conf.py
  src/geovista/common.py
Labels: type: documentation

#857 nep29 numpy>=1.24 min pin
  requirements/geovista.yml
  requirements/pypi-core.txt
  requirements/pypi-optional-docs.txt
  requirements/pypi-optional-exam.txt
  requirements/pypi-optional-test.txt
Labels: type: dependencies

#858 unpin sphinx-autoapi
  requirements/geovista.yml
  requirements/pypi-optional-docs.txt
Labels: type: dependencies

#860 autoapi module template
  docs/src/_autoapi_templates/python/README.txt
  docs/src/_autoapi_templates/python/module.rst
  docs/src/conf.py
  docs/src/reference/index.rst
Labels: type: documentation

#861 docs: reference infrastructure
  docs/src/_autoapi_templates/python/module.rst
  docs/src/_static/images/icons/about.svg
  docs/src/_static/images/icons/api.svg
  docs/src/_static/images/icons/bindings.svg
  docs/src/_static/images/icons/changelog.svg
  docs/src/_static/images/icons/cli.svg
  docs/src/_static/images/icons/environment.svg
  docs/src/_static/images/icons/glossary.svg
  docs/src/_static/images/icons/whatsnew.svg
  docs/src/next_steps.rst
  docs/src/reference/about.rst
  docs/src/reference/bindings.rst
  docs/src/reference/changelog.rst
  docs/src/reference/cli.rst
  docs/src/reference/environment.rst
  docs/src/reference/glossary.rst
  docs/src/reference/index.rst
  docs/src/reference/whatsnew.rst
  src/geovista/examples/README.rst
Labels: type: documentation, type: examples

#862 docs: tutorial and explanation rebrand
  docs/src/_static/images/icons/explanation.svg
  docs/src/_static/images/icons/tutorials.svg
  docs/src/explanation/index.rst
  docs/src/index.rst
  docs/src/tutorials/index.rst
Labels: type: documentation

#863 docs: custom sphinx-gallery default thumbnail
  docs/src/_static/images/gallery-thumb.png
  docs/src/conf.py
Labels: type: documentation

#864 docs: toggle open margin notes
  docs/src/index.rst
  docs/src/next_steps.rst
  docs/src/quick_start.rst
  docs/src/reference/about.rst
  docs/src/reference/bindings.rst
  docs/src/reference/changelog.rst
  docs/src/reference/cli.rst
  docs/src/reference/environment.rst
  docs/src/reference/glossary.rst
  docs/src/reference/index.rst
  docs/src/reference/whatsnew.rst
  src/geovista/examples/README.rst
Labels: type: documentation, type: examples

#865 docs: add missing wip margin note
  docs/src/developer/index.rst
  docs/src/explanation/index.rst
  docs/src/howtos/index.rst
  docs/src/tutorials/index.rst
Labels: type: documentation

#866 docs: sphinx-autoapi templates readme
  docs/src/_autoapi_templates/python/README.md
Labels: type: documentation

#845 Further docstring suggestions
  src/geovista/filters.py
  src/geovista/geometry.py
  src/geovista/transform.py
Labels: type: documentation

#867 docs: auto-generate gallery carousel
  .gitignore
  docs/Makefile
  docs/src/conf.py
  docs/src/index.rst
Labels: type: documentation, type: infrastructure

#868 docs: bridge tiff example
  src/geovista/bridge.py
Labels: type: documentation

#869 docs: sort gallery carousel cards
  docs/src/conf.py
Labels: type: documentation

#847 Docstring suggestions for core.
  src/geovista/core.py
Labels: type: documentation

#870 docs: use os.walk not pathlib.Path.walk
  docs/src/conf.py
Labels: type: bug, type: documentation

#871 docs: add myst-parser package dependency
  requirements/geovista.yml
  requirements/pypi-optional-docs.txt
Labels: type: dependencies

#873 docs: add sphinx-tippy package dependency
  requirements/geovista.yml
  requirements/pypi-optional-docs.txt
Labels: type: dependencies

#874 docs: configure sphinx-tippy
  docs/src/conf.py
  requirements/geovista.yml
Labels: type: documentation, type: dependencies

#876 configure and initialise all-contributors
  .all-contributorsrc
  MANIFEST.in
  README.md
Labels: type: infrastructure

#878 docs: custom config for all-contributors
  .all-contributorsrc
  README.md
  docs/src/CONTRIBUTORS.md
  docs/src/conf.py
  docs/src/reference/about.rst
Labels: type: documentation, type: infrastructure

#879 docs: move CONTRIBUTORS.md
  .all-contributorsrc
  CONTRIBUTORS.md
  docs/src/reference/about.rst
Labels: type: documentation, type: infrastructure

#880 docs: reset CONTRIBUTORS.md
  CONTRIBUTORS.md
Labels: type: documentation, type: infrastructure

#883 all-contrib restart
  .all-contributorsrc
  README.md
Labels: type: infrastructure

#885 Update .all-contributorsrc
  .all-contributorsrc
Labels: type: infrastructure

#886 Update CONTRIBUTORS.md
  CONTRIBUTORS.md
Labels: type: infrastructure

#888 Update CONTRIBUTORS.md
  CONTRIBUTORS.md
Labels: type: infrastructure

#890 docs: tidy readme
  .all-contributorsrc
  README.md
Labels: type: infrastructure

#892 docs: update reference about
  .all-contributorsrc
  docs/src/reference/about.rst
Labels: type: documentation, type: infrastructure

#894 Update .all-contributorsrc
  .all-contributorsrc
Labels: type: infrastructure

#896 Update .all-contributorsrc
  .all-contributorsrc
Labels: type: infrastructure

#913 Update .all-contributorsrc
  .all-contributorsrc
Labels: type: infrastructure

#936 add all-contributors badge
  README.md
Labels: type: infrastructure
