Repository bjlittle/geovista, pull requests merged in 2024-07, with the labels that each got.

#939 docs: update reference about
  docs/src/reference/about.rst
  docs/src/reference/index.rst
Labels: type: documentation

#950 docs: reference environment variables
  docs/src/common.txt
  docs/src/conf.py
  docs/src/index.rst
  docs/src/installation.rst
  docs/src/next_steps.rst
  docs/src/overview.rst
  docs/src/quick_start.rst
  docs/src/reference/environment.rst
  docs/src/reference/glossary.rst
  docs/src/reference/index.rst
Labels: type: documentation

#951 reformat all-contributors table
  .all-contributorsrc
Labels: type: infrastructure

#953 revert all-contributors table
  .all-contributorsrc
Labels: type: infrastructure

#956 docs: reference bindings
  README.md
  docs/src/_static/images/fvcom-points.png
  docs/src/_static/images/fvcom-surface.png
  docs/src/_static/images/fvcom-wireframe.png
  docs/src/common.txt
  docs/src/reference/bindings.rst
  docs/src/reference/environment.rst
  docs/src/reference/index.rst
Labels: type: documentation, type: infrastructure

#960 add sphinx-click package dependency
  requirements/geovista.yml
  requirements/pypi-optional-docs.txt
Labels: type: dependencies

#962 docs: reference cli
  docs/src/conf.py
  docs/src/reference/bindings.rst
  docs/src/reference/cli.rst
  docs/src/reference/cli/download.rst
  docs/src/reference/cli/examples.rst
  docs/src/reference/cli/index.rst
  docs/src/reference/cli/plot.rst
  docs/src/reference/index.rst
Labels: type: documentation

#964 docs: add figure alternate text
  docs/src/next_steps.rst
  docs/src/overview.rst
  docs/src/quick_start.rst
  docs/src/reference/about.rst
Labels: type: documentation

#967 docs: add nbsphinx package dependency
  requirements/geovista.yml
  requirements/pypi-optional-docs.txt
Labels: type: dependencies

#969 ensure correct setuptools-scm version on rtd
  .readthedocs.yml
  docs/src/conf.py
Labels: type: documentation, type: infrastructure

#971 docs: correct osx bindings
  docs/src/reference/bindings.rst
Labels: type: documentation

#976 docs: add ipykernel dependency
  requirements/geovista.yml
  requirements/pypi-optional-docs.txt
Labels: type: dependencies

#979 add myst-nb dependency
  requirements/geovista.yml
  requirements/pypi-optional-docs.txt
Labels: type: dependencies

#982 default spatial args for geoplotter view_poi
  src/geovista/cache/__init__.py
  src/geovista/cache/registry.txt
  src/geovista/geoplotter.py
  tests/geoplotter/test_view_poi.py
  tests/plotting/geoplotter/test_view_poi.py
Labels: type: testing, type: cache

#983 docs: add tutorial
  docs/src/_static/images/cubed-sphere.jpg
  docs/src/_static/images/region-manifold-extraction.png
  docs/src/conf.py
  docs/src/index.rst
  docs/src/next_steps.rst
  docs/src/reference/changelog.rst
  docs/src/reference/index.rst
  docs/src/reference/whatsnew.rst
  docs/src/tutorials/index.rst
  docs/src/tutorials/region-manifold-extraction.ipynb
  src/geovista/geodesic.py
Labels: type: documentation

#984 docs: tidy landing page intro
  docs/src/conf.py
  docs/src/index.rst
Labels: type: documentation

#985 docs: add glossary
  docs/src/reference/glossary.rst
Labels: type: documentation

#784 revert README for 0.5.0
  README.md
Labels: type: infrastructure

#994 adopt plotter -> p standard
  README.md
  docs/src/quick_start.rst
  docs/src/tutorials/region-manifold-extraction.ipynb
  src/geovista/bridge.py
  src/geovista/cli.py
  src/geovista/examples/clouds.py
  src/geovista/examples/clouds_robin.py
  src/geovista/examples/curvilinear/from_2d__orca.py
  src/geovista/examples/curvilinear/from_2d__orca_moll.py
  src/geovista/examples/point_cloud/from_points__orca_cloud.py
  src/geovista/examples/point_cloud/from_points__orca_cloud_eqc.py
  src/geovista/examples/rectilinear/from_1d__oisst.py
  src/geovista/examples/rectilinear/from_1d__oisst_eqc.py
  src/geovista/examples/rectilinear/from_1d__synthetic_face_m1_n1.py
  src/geovista/examples/rectilinear/from_1d__synthetic_face_m1_n1_robin.py
  src/geovista/examples/rectilinear/from_1d__synthetic_node_m1_n1.py
  src/geovista/examples/rectilinear/from_1d__synthetic_node_m1_n1_moll.py
  src/geovista/examples/rectilinear/from_2d__synthetic_face_m1n1.py
  src/geovista/examples/rectilinear/from_2d__synthetic_face_m1n1_robin.py
  src/geovista/examples/rectilinear/from_2d__synthetic_node_m1n1.py
  src/geovista/examples/rectilinear/from_2d__synthetic_node_m1n1_moll.py
  src/geovista/examples/scalar_data/earthquakes.py
  src/geovista/examples/scalar_data/earthquakes_wink1.py
  src/geovista/examples/scalar_data/from_tiff__dem.py
  src/geovista/examples/scalar_data/from_tiff__rgb.py
  src/geovista/examples/spatial_index/uber_h3.py
  src/geovista/examples/unstructured/dynamico.py
  src/geovista/examples/unstructured/dynamico_poly.py
  src/geovista/examples/unstructured/fesom.py
  src/geovista/examples/unstructured/fesom_fouc.py
  src/geovista/examples/unstructured/icon.py
  src/geovista/examples/unstructured/icon_eqc.py
  src/geovista/examples/unstructured/lam_pacific.py
  src/geovista/examples/unstructured/lam_pacific_moll.py
  src/geovista/examples/unstructured/lfric_sst.py
  src/geovista/examples/unstructured/lfric_sst_bonne.py
  src/geovista/examples/unstructured/smc.py
  src/geovista/examples/unstructured/smc_sinu.py
  src/geovista/examples/unstructured/tri.py
  src/geovista/examples/unstructured/tri_hammer.py
  src/geovista/examples/vector_data/vectors.py
  src/geovista/examples/warp/from_unstructured__fvcom.py
  src/geovista/examples/warp/from_unstructured__lfric_orog.py
  src/geovista/examples/warp/from_unstructured__lfric_orog_eqc.py
  src/geovista/geodesic.py
  src/geovista/geoplotter.py
  tests/geoplotter/test__warn_opacity.py
  tests/geoplotter/test_add_base_layer.py
  tests/geoplotter/test_add_mesh.py
  tests/geoplotter/test_add_points.py
  tests/geoplotter/test_view_poi.py
  tests/plotting/geoplotter/test_view_poi.py
Labels: type: documentation, type: infrastructure, type: testing, type: examples, type: cli

#989 Add update-pr-branch action to update PR branch
  .github/workflows/ci-update-pr-branch.yml
Labels: type: gha, scipy 2024

#996 update ci-update
  .github/workflows/ci-update-pr-branch.yml
Labels: type: gha, scipy 2024

#997 add nasa black marble texture
  src/geovista/__init__.pyi
  src/geovista/cache/__init__.py
  src/geovista/cache/registry.txt
  src/geovista/pantry/textures.py
Labels: type: cache, scipy 2024

#998 patch: fix gridline tests for np 2.x
  src/geovista/gridlines.py
Labels: type: bug, scipy 2024

#999 Merge back v0p5p1
  src/geovista/gridlines.py
Labels: type: merge-back

#1000 tests: skip optional rasterio tests
  tests/bridge/test_from_tiff.py
Labels: type: testing, scipy 2024

#1001 tests: skip optional plotting dependancies
  tests/plotting/test_examples.py
Labels: type: testing, scipy 2024

#1006 Add internationalization configurations to conf.py
  docs/src/conf.py
Labels: type: documentation

#1008 enable nbqa pre-commit hook
  .pre-commit-config.yaml
  docs/src/tutorials/region-manifold-extraction.ipynb
  pyproject.toml
Labels: type: documentation, type: infrastructure

#1009 docs: add version badge
  docs/src/_templates/sidebar-version.html
  docs/src/conf.py
Labels: type: documentation

#1010 Update conf.py
  docs/src/conf.py
Labels: type: documentation

#1012 Update conf.py
  docs/src/conf.py
Labels: type: documentation

#1013 docs: refactor tags
  docs/src/conf.py
  requirements/geovista.yml
  requirements/pypi-optional-docs.txt
  src/geovista/examples/curvilinear/from_2d__orca.py
  src/geovista/examples/curvilinear/from_2d__orca_moll.py
  src/geovista/examples/point_cloud/from_points__orca_cloud.py
  src/geovista/examples/point_cloud/from_points__orca_cloud_eqc.py
  src/geovista/examples/rectilinear/from_1d__oisst.py
  src/geovista/examples/rectilinear/from_1d__oisst_eqc.py
  src/geovista/examples/scalar_data/earthquakes.py
  src/geovista/examples/scalar_data/earthquakes_wink1.py
  src/geovista/examples/scalar_data/from_tiff__dem.py
  src/geovista/examples/scalar_data/from_tiff__rgb.py
  src/geovista/examples/spatial_index/uber_h3.py
  src/geovista/examples/unstructured/dynamico.py
  src/geovista/examples/unstructured/dynamico_poly.py
  src/geovista/examples/unstructured/fesom.py
  src/geovista/examples/unstructured/fesom_fouc.py
  src/geovista/examples/unstructured/icon.py
  src/geovista/examples/unstructured/icon_eqc.py
  src/geovista/examples/unstructured/lam_pacific.py
  src/geovista/examples/unstructured/lam_pacific_moll.py
  src/geovista/examples/unstructured/lfric_sst.py
  src/geovista/examples/unstructured/lfric_sst_bonne.py
  src/geovista/examples/unstructured/smc.py
  src/geovista/examples/unstructured/smc_sinu.py
  src/geovista/examples/unstructured/tri.py
  src/geovista/examples/unstructured/tri_hammer.py
  src/geovista/examples/vector_data/vectors.py
  src/geovista/examples/warp/from_unstructured__fvcom.py
  src/geovista/examples/warp/from_unstructured__lfric_orog.py
  src/geovista/examples/warp/from_unstructured__lfric_orog_eqc.py
Labels: type: documentation, type: dependencies, type: examples

#1014 docs: move tags
  docs/src/conf.py
  docs/src/index.rst
  docs/src/reference/index.rst
Labels: type: documentation

#1016 docs: add changelog and whatsnew to reference section
  docs/src/reference/index.rst
Labels: type: documentation

#1020 add sphinx-changelog dependency
  requirements/geovista.yml
  requirements/pypi-optional-docs.txt
Labels: type: dependencies

#1022 docs: fix page footer author
  docs/src/conf.py
Labels: type: documentation

#1023 docs: rename gallery-carousel
  .gitignore
  docs/Makefile
  docs/src/conf.py
  docs/src/index.rst
Labels: type: documentation, type: infrastructure

#1025 docs: add towncrier changelog support
  CHANGELOG.rst
  MANIFEST.in
  changelog/.gitignore
  changelog/1025.documentation.rst
  changelog/template.rst
  docs/src/conf.py
  docs/src/reference/changelog.rst
  docs/src/reference/index.rst
  docs/src/reference/whatsnew.rst
  pyproject.toml
Labels: type: documentation, type: infrastructure

#1027 docs: populate changelog post 0.5.0 release
  changelog/1000.dependency.rst
  changelog/1001.dependency.rst
  changelog/1006.documentation.rst
  changelog/1007.community.rst
  changelog/1008.internal.rst
  changelog/1009.documentation.rst
  changelog/1010.documentation.rst
  changelog/1011.community.rst
  changelog/1012.documentation.rst
  changelog/1013.dependency.rst
  changelog/1013.documentation.rst
  changelog/1014.documentation.rst
  changelog/1016.documentation.rst
  changelog/1019.dependency.rst
  changelog/1020.dependency.rst
  changelog/1022.documentation.rst
  changelog/1023.documentation.rst
  changelog/1026.documentation.rst
  changelog/987.documentation.rst
  changelog/988.community.rst
  changelog/989.internal.rst
  changelog/993.community.rst
  changelog/994.documentation.rst
  changelog/996.internal.rst
  changelog/997.feature.rst
  changelog/999.internal.rst
  pyproject.toml
Labels: type: infrastructure
