Repository bjlittle/geovista, pull requests merged in 2024-01, with the labels that each got.

#610 add sphinx-book-theme
  requirements/geovista.yml
  requirements/pypi-optional-docs.txt
Labels: type: dependencies

#612 nep29 drop numpy 1.22
  requirements/geovista.yml
  requirements/pypi-core.txt
Labels: type: dependencies, type: nep-29

#614 add sphinx-autoapi dependency
  requirements/geovista.yml
  requirements/pypi-optional-docs.txt
Labels: type: dependencies

#616 rename Preference enumeration classes
  src/geovista/geodesic.py
  src/geovista/search.py
  tests/geodesic/test_BBox.py
  tests/geodesic/test_EnclosedPreference.py
  tests/search/test_KDTree.py
  tests/search/test_SearchPreference.py
Labels: type: bug, type: testing, breaking-change

#615 DOCS: autoapi adoption for create API docs.
  docs/Makefile
  docs/src/conf.py
  docs/src/index.rst
  src/geovista/core.py
  src/geovista/gridlines.py
  src/geovista/report.py
  src/geovista/samples.py
Labels: type: documentation, type: infrastructure, type: dependencies

#617 define initial documentation theme and structure
  .gitignore
  docs/Makefile
  docs/src/_static/images/icons/enrichment.svg
  docs/src/_static/images/icons/gallery.svg
  docs/src/_static/images/icons/howtos.svg
  docs/src/_static/images/icons/reference.svg
  docs/src/_static/images/icons/tutorials.svg
  docs/src/_static/style.css
  docs/src/_static/theme_overrides.css
  docs/src/conf.py
  docs/src/enrichment/index.rst
  docs/src/howtos/index.rst
  docs/src/index.rst
  docs/src/installation.rst
  docs/src/overview.rst
  docs/src/quick_start.rst
  docs/src/reference/about.rst
  docs/src/reference/changelog.rst
  docs/src/reference/cli.rst
  docs/src/reference/env_vars.rst
  docs/src/reference/glossary.rst
  docs/src/reference/index.rst
  docs/src/reference/key_bindings.rst
  docs/src/reference/whatsnew.rst
  docs/src/tutorials/index.rst
  pyproject.toml
  src/geovista/examples/README.rst
Labels: type: documentation, type: infrastructure, type: examples

#618 disable grid card shading
  docs/src/index.rst
Labels: type: documentation

#619 minor docs land page changes
  docs/src/enrichment/index.rst
  docs/src/index.rst
Labels: type: documentation

#622 bump pyvista min pin
  requirements/geovista.yml
  requirements/pypi-core.txt
Labels: type: dependencies

#624 move docs construction icon
  docs/src/enrichment/index.rst
  docs/src/howtos/index.rst
  docs/src/index.rst
  docs/src/installation.rst
  docs/src/overview.rst
  docs/src/quick_start.rst
  docs/src/reference/about.rst
  docs/src/reference/changelog.rst
  docs/src/reference/cli.rst
  docs/src/reference/env_vars.rst
  docs/src/reference/glossary.rst
  docs/src/reference/index.rst
  docs/src/reference/key_bindings.rst
  docs/src/reference/whatsnew.rst
  docs/src/tutorials/index.rst
Labels: type: documentation

#625 add docs next steps section
  docs/src/index.rst
  docs/src/next_steps.rst
Labels: type: documentation

#626 format examples docstrings
  src/geovista/examples/clouds.py
  src/geovista/examples/clouds_robin.py
  src/geovista/examples/curvilinear/from_2d__orca.py
  src/geovista/examples/curvilinear/from_2d__orca_moll.py
  src/geovista/examples/point_cloud/from_points__orca_cloud.py
  src/geovista/examples/point_cloud/from_points__orca_cloud_eqc.py
  src/geovista/examples/rectilinear/from_1d__oisst.py
  src/geovista/examples/rectilinear/from_1d__oisst_eqc.py
  src/geovista/examples/rectilinear/from_1d__synthetic_face_m1_n1.py
  src/geovista/examples/rectilinear/from_1d__synthetic_face_m1_n1_robin.py
  src/geovista/examples/rectilinear/from_1d__synthetic_node_m1_n1.py
  src/geovista/examples/rectilinear/from_1d__synthetic_node_m1_n1_moll.py
  src/geovista/examples/rectilinear/from_2d__synthetic_face_m1n1.py
  src/geovista/examples/rectilinear/from_2d__synthetic_face_m1n1_robin.py
  src/geovista/examples/rectilinear/from_2d__synthetic_node_m1n1.py
  src/geovista/examples/rectilinear/from_2d__synthetic_node_m1n1_moll.py
  src/geovista/examples/scalar_data/earthquakes.py
  src/geovista/examples/scalar_data/earthquakes_wink1.py
  src/geovista/examples/unstructured/dynamico.py
  src/geovista/examples/unstructured/dynamico_poly.py
  src/geovista/examples/unstructured/fesom.py
  src/geovista/examples/unstructured/fesom_fouc.py
  src/geovista/examples/unstructured/icon.py
  src/geovista/examples/unstructured/icon_eqc.py
  src/geovista/examples/unstructured/lam_pacific.py
  src/geovista/examples/unstructured/lam_pacific_moll.py
  src/geovista/examples/unstructured/lfric_sst.py
  src/geovista/examples/unstructured/lfric_sst_bonne.py
  src/geovista/examples/unstructured/smc.py
  src/geovista/examples/unstructured/smc_sinu.py
  src/geovista/examples/unstructured/tri.py
  src/geovista/examples/unstructured/tri_hammer.py
  src/geovista/examples/vector_data/vectors.py
  src/geovista/examples/warp/from_unstructured__fvcom.py
  src/geovista/examples/warp/from_unstructured__lfric_orog.py
  src/geovista/examples/warp/from_unstructured__lfric_orog_eqc.py
Labels: type: documentation, type: examples

#628 add examples zoom and resize image tests
  src/geovista/cache.py
  src/geovista/examples/clouds.py
  src/geovista/examples/clouds_robin.py
  src/geovista/examples/curvilinear/from_2d__orca.py
  src/geovista/examples/curvilinear/from_2d__orca_moll.py
  src/geovista/examples/point_cloud/from_points__orca_cloud.py
  src/geovista/examples/point_cloud/from_points__orca_cloud_eqc.py
  src/geovista/examples/rectilinear/from_1d__oisst.py
  src/geovista/examples/rectilinear/from_1d__oisst_eqc.py
  src/geovista/examples/rectilinear/from_1d__synthetic_face_m1_n1.py
  src/geovista/examples/rectilinear/from_1d__synthetic_face_m1_n1_robin.py
  src/geovista/examples/rectilinear/from_1d__synthetic_node_m1_n1.py
  src/geovista/examples/rectilinear/from_1d__synthetic_node_m1_n1_moll.py
  src/geovista/examples/rectilinear/from_2d__synthetic_face_m1n1.py
  src/geovista/examples/rectilinear/from_2d__synthetic_face_m1n1_robin.py
  src/geovista/examples/rectilinear/from_2d__synthetic_node_m1n1.py
  src/geovista/examples/rectilinear/from_2d__synthetic_node_m1n1_moll.py
  src/geovista/examples/scalar_data/earthquakes.py
  src/geovista/examples/scalar_data/earthquakes_wink1.py
  src/geovista/examples/spatial_index/uber_h3.py
  src/geovista/examples/unstructured/dynamico.py
  src/geovista/examples/unstructured/dynamico_poly.py
  src/geovista/examples/unstructured/fesom.py
  src/geovista/examples/unstructured/fesom_fouc.py
  src/geovista/examples/unstructured/icon.py
  src/geovista/examples/unstructured/icon_eqc.py
  src/geovista/examples/unstructured/lam_pacific.py
  src/geovista/examples/unstructured/lam_pacific_moll.py
  src/geovista/examples/unstructured/lfric_sst.py
  src/geovista/examples/unstructured/lfric_sst_bonne.py
  src/geovista/examples/unstructured/smc.py
  src/geovista/examples/unstructured/smc_sinu.py
  src/geovista/examples/unstructured/tri.py
  src/geovista/examples/unstructured/tri_hammer.py
  src/geovista/examples/vector_data/vectors.py
  src/geovista/examples/warp/from_unstructured__fvcom.py
  src/geovista/examples/warp/from_unstructured__lfric_orog.py
  src/geovista/examples/warp/from_unstructured__lfric_orog_eqc.py
  src/geovista/registry.txt
  tests/plotting/test_examples.py
Labels: type: testing, type: examples

#629 plane direction + rotate-x fix for #447
  src/geovista/filters.py
Labels: type: bug

#630 fix active_t_coords deprecation
  src/geovista/core.py
Labels: type: bug

#633 Merge back v0p4p1
  requirements/geovista.yml
  requirements/locks/py310-lock-linux-64.txt
  requirements/locks/py311-lock-linux-64.txt
  requirements/locks/py312-lock-linux-64.txt
  requirements/pypi-core.txt
  src/geovista/common.py
  src/geovista/core.py
  src/geovista/filters.py
  tests/bridge/test_from_points.py
Labels: type: testing, type: dependencies, type: merge-back

#632 Bump PyVista for new DynamicScraper features
  docs/Makefile
  src/geovista/examples/spatial_index/uber_h3.py
Labels: type: documentation, type: dependencies, type: examples

#636 examples drop show edges
  src/geovista/cache.py
  src/geovista/examples/curvilinear/from_2d__orca.py
  src/geovista/examples/unstructured/lfric_sst.py
  src/geovista/registry.txt
Labels: type: examples

#638 serve local html docs with dynamic scraper
  docs/src/conf.py
Labels: type: documentation

#639 disable docs navigation with keys
  docs/src/conf.py
Labels: type: documentation

#640 Update .readthedocs.yml to bump new versions
  .readthedocs.yml
Labels: type: infrastructure

#641 add youtube badge
  README.md
Labels: type: infrastructure

#643 add auto label for merge-back
  .github/workflows/ci-label.yml
Labels: type: gha

#644 docs default pygments highlight with andmonish
  docs/src/conf.py
  docs/src/index.rst
  src/geovista/examples/README.rst
Labels: type: documentation, type: examples

#646 docs add developer section
  docs/src/developer/index.rst
  docs/src/index.rst
Labels: type: documentation

#645 Refactor samples, pantry etcetera
  MANIFEST.in
  README.md
  codecov.yml
  src/geovista/__init__.py
  src/geovista/cache.py
  src/geovista/cache/README.md
  src/geovista/cache/__init__.py
  src/geovista/cache/registry.txt
  src/geovista/examples/clouds.py
  src/geovista/examples/clouds_robin.py
  src/geovista/examples/curvilinear/from_2d__orca.py
  src/geovista/examples/curvilinear/from_2d__orca_moll.py
  src/geovista/examples/point_cloud/from_points__orca_cloud.py
  src/geovista/examples/point_cloud/from_points__orca_cloud_eqc.py
  src/geovista/examples/rectilinear/from_1d__oisst.py
  src/geovista/examples/rectilinear/from_1d__oisst_eqc.py
  src/geovista/examples/scalar_data/earthquakes.py
  src/geovista/examples/scalar_data/earthquakes_wink1.py
  src/geovista/examples/unstructured/dynamico.py
  src/geovista/examples/unstructured/dynamico_poly.py
  src/geovista/examples/unstructured/fesom.py
  src/geovista/examples/unstructured/fesom_fouc.py
  src/geovista/examples/unstructured/icon.py
  src/geovista/examples/unstructured/icon_eqc.py
  src/geovista/examples/unstructured/lam_pacific.py
  src/geovista/examples/unstructured/lam_pacific_moll.py
  src/geovista/examples/unstructured/lfric_sst.py
  src/geovista/examples/unstructured/lfric_sst_bonne.py
  src/geovista/examples/unstructured/smc.py
  src/geovista/examples/unstructured/smc_sinu.py
  src/geovista/examples/unstructured/tri.py
  src/geovista/examples/unstructured/tri_hammer.py
  src/geovista/examples/vector_data/vectors.py
  src/geovista/examples/warp/from_unstructured__fvcom.py
  src/geovista/examples/warp/from_unstructured__lfric_orog.py
  src/geovista/examples/warp/from_unstructured__lfric_orog_eqc.py
  src/geovista/geometry.py
  src/geovista/geoplotter.py
  src/geovista/pantry/__init__.py
  src/geovista/pantry/data.py
  src/geovista/pantry/meshes.py
  src/geovista/pantry/textures.py
  tests/conftest.py
  tests/core/test_slice_lines.py
  tests/pantry/__init__.py
  tests/pantry/meshes/__init__.py
  tests/pantry/meshes/test_fvcom_tamar.py
  tests/pantry/meshes/test_lfric.py
Labels: type: infrastructure, type: testing, type: examples, breaking-change

#649 Added GeoQtInteractor class and tests
  src/geovista/qt.py
  tests/test_qt.py
Labels: type: testing, type: examples

#651 update for geovista-data restructure
  src/geovista/cache/__init__.py
  src/geovista/cache/registry.txt
  src/geovista/pantry/data.py
  src/geovista/pantry/meshes.py
  src/geovista/pantry/textures.py
  tests/pantry/meshes/test_lfric.py
Labels: type: testing

#652 auto label for registry cache
  .github/labeler.yml
Labels: type: gha

#655 update gallery admonish
  src/geovista/examples/README.rst
Labels: type: examples

#657 add examples pyarrow optional dependancy
  requirements/geovista.yml
  requirements/pypi-optional-exam.txt
Labels: type: dependencies

#659 avoid pyvista polydata deprecation warning
  src/geovista/bridge.py
  src/geovista/core.py
  src/geovista/geodesic.py
  src/geovista/gridlines.py
Labels: pyvista

#660 add rasterio core dependency
  requirements/geovista.yml
  requirements/pypi-core.txt
Labels: type: dependencies

#664 add pytest example marker
  pyproject.toml
  tests/plotting/test_examples.py
Labels: type: infrastructure, type: testing

#665 add lazy_loader core package dependency
  requirements/geovista.yml
  requirements/pypi-core.txt
Labels: type: dependencies

#669 support lazy import
  MANIFEST.in
  src/geovista/__init__.py
  src/geovista/__init__.pyi
  src/geovista/bridge.py
  src/geovista/cli.py
  src/geovista/common.py
  src/geovista/core.py
  src/geovista/crs.py
  src/geovista/filters.py
  src/geovista/geodesic.py
  src/geovista/geometry.py
  src/geovista/geoplotter.py
  src/geovista/gridlines.py
  src/geovista/pantry/__init__.py
  src/geovista/pantry/data.py
  src/geovista/pantry/meshes.py
  src/geovista/pantry/textures.py
  src/geovista/raster.py
  src/geovista/report.py
  src/geovista/search.py
  src/geovista/transform.py
  tests/transform/test_transform_points.py
Labels: type: infrastructure, type: testing, type: cli

#670 adopt welcome bot
  .github/config.yml
Labels: type: gha

#671 tidy geovista module namespace
  src/geovista/__init__.py
  src/geovista/__init__.pyi
Labels: breaking-change

#673 fix pantry.meshes
  src/geovista/pantry/data.py
  src/geovista/pantry/meshes.py
  tests/pantry/meshes/test__points_cells.py
Labels: type: bug, type: infrastructure, type: testing

#677 increase docs toc level
  docs/src/conf.py
Labels: type: documentation

#679 autodoc typehints in doc-string description only
  docs/src/conf.py
  src/geovista/bridge.py
  src/geovista/crs.py
  src/geovista/geoplotter.py
  src/geovista/transform.py
Labels: type: documentation

#680 update bridge docstring attributes and dtypes
  src/geovista/bridge.py
Labels: type: documentation

#681 update cache docstrings
  docs/src/conf.py
  src/geovista/cache/__init__.py
Labels: type: documentation

#682 support lock to yaml
  .github/workflows/ci-locks.yml
  MANIFEST.in
  requirements/locks/README.md
  requirements/locks/lock2yaml.py
  requirements/locks/templates/lock2yaml.txt
  tox.ini
Labels: type: infrastructure, type: gha

#683 fix lock2yaml for py310
  .ruff.toml
  requirements/locks/lock2yaml.py
Labels: type: infrastructure

#686 fix lock2yaml upload-artifact
  .github/workflows/ci-locks.yml
Labels: type: gha

#688 use locks yml on rtd
  .readthedocs.yml
  requirements/locks/rtd.yml
Labels: type: infrastructure

#685 fix the error of GH104
  .github/workflows/ci-locks.yml
  .github/workflows/ci-tests.yml
  .github/workflows/ci-wheels.yml
  .pre-commit-config.yaml
Labels: type: infrastructure, type: gha

#689 Clarify docstrings on bridge.Transform expected data size
  src/geovista/bridge.py
Labels: type: documentation

#690 update welcome bot first pull-request message
  .github/config.yml
Labels: type: gha
