Repository bjlittle/geovista, pull requests merged in 2024-10, with the labels that each got.

#1132 patch: fix rasterio 1.4.x regression
  .github/workflows/ci-tests.yml
  src/geovista/bridge.py
  src/geovista/examples/rectilinear/from_1d__oisst.py
  src/geovista/examples/rectilinear/from_1d__oisst_eqc.py
  tests/bridge/test_from_tiff.py
Labels: type: bug, type: testing, type: examples

#1133 Merge back v0p5p2
  src/geovista/bridge.py
  tests/bridge/test_from_tiff.py
Labels: skip changelog, type: merge-back

#1136 increase frequency of ci-locks gha cron
  .github/workflows/ci-locks.yml
  changelog/1133.internal.rst
  changelog/1136.contributor.rst
Labels: type: gha

#1137 use gha workflow defaults
  .github/workflows/ci-changelog.yml
  .github/workflows/ci-locks.yml
  .github/workflows/ci-tests.yml
  .github/workflows/ci-wheels.yml
  changelog/1137.internal.rst
Labels: type: gha

#1138 add ci-locks-test gha
  .github/workflows/ci-locks-test.yml
  .github/workflows/ci-locks.yml
  changelog/1136.internal.rst
  changelog/1138.internal.rst
Labels: type: gha

#1139 gha ci-locks-test upload artifact
  .github/workflows/ci-locks-test.yml
  changelog/1139.internal.rst
Labels: type: gha

#1141 configure GHAs to avoid using defaults channel
  .github/workflows/ci-docs.yml
  .github/workflows/ci-tests.yml
  .github/workflows/ci-wheels.yml
  changelog/1141.internal.rst
Labels: type: gha

#1144 migrate to >=py311 enum.StrEnum usage
  changelog/1144.internal.rst
  src/geovista/common.py
  src/geovista/geodesic.py
  src/geovista/pantry/data.py
  src/geovista/search.py
  tests/common/test_Preference.py
  tests/geodesic/test_EnclosedPreference.py
  tests/search/test_SearchPreference.py
Labels: type: testing

#1146 docs: optimise building with html-tutorial support
  changelog/1146.contributor.rst
  docs/Makefile
  docs/src/conf.py
  docs/src/tutorials/index.rst
Labels: type: documentation

#1147 docs: use myst-nb cache when building jupyter notebooks
  changelog/1147.contributor.rst
  docs/Makefile
  docs/src/conf.py
Labels: type: documentation

#1149 docs: add workflow dispatch to ci-docs gha
  .github/workflows/ci-docs.yml
  docs/src/conf.py
Labels: type: gha, skip changelog

#1155 ci-changelog get pr number
  .github/workflows/ci-changelog.yml
  changelog/1155.internal.rst
Labels: type: gha

#1152 Use explicit strings in StrEnums
  changelog/1152.documentation.rst
  src/geovista/common.py
  src/geovista/geodesic.py
  src/geovista/pantry/data.py
  src/geovista/search.py
Labels: type: documentation, type: examples

#1157 temporary pin uber/h3-py to avoid 4.x breaking behaviour
  changelog/1040.dependency.rst
  changelog/1053.documentation.rst
  changelog/1157.dependency.rst
  docs/src/conf.py
  requirements/geovista.yml
  requirements/pypi-optional-exam.txt
Labels: type: dependencies

#1158 gha: test pypi package dependencies
  .github/workflows/ci-tests-lock.yml
  .github/workflows/ci-tests-pypi.yml
  changelog/1158.internal.rst
Labels: type: gha

#1159 add missing closed issues to changelong
  changelog/1146.contributor.rst
  changelog/1147.contributor.rst
Labels: skip changelog

#1160 update dependabot.yml for pip package-ecosystem
  .github/dependabot.yml
Labels: type: gha, skip changelog

#1164 gha: generate issue report for ci-tests-pypi only on schedule
  .github/workflows/ci-tests-pypi.yml
Labels: type: gha, skip changelog

#1165 update dependabot group names
  .github/dependabot.yml
Labels: type: gha, skip changelog

#1167 use color in lock and pypi pytest ci-tests
  .github/workflows/ci-tests-lock.yml
  .github/workflows/ci-tests-pypi.yml
Labels: type: gha, skip changelog

#1169 add min pin h3>=4.1
  requirements/geovista.yml
  requirements/pypi-optional-exam.txt
Labels: type: dependencies

#1170 drop tox usage within ci-locks gha
  .github/workflows/ci-locks.yml
Labels: type: gha

#1171 fix for lock2yaml
  requirements/locks/lock2yaml.py
Labels: type: bug

#1174 Merge back v0p5p3
  changelog/1174.internal.rst
  docs/src/conf.py
  requirements/geovista.yml
  requirements/locks/py311-lock-linux-64.txt
  requirements/locks/py311-lock-linux-64.yml
  requirements/locks/py312-lock-linux-64.txt
  requirements/locks/py312-lock-linux-64.yml
  requirements/pypi-optional-exam.txt
  src/geovista/examples/spatial_index/uber_h3.py
Labels: type: documentation, type: dependencies, type: examples, type: merge-back

#1177 build py313 conda lock file
  .github/workflows/ci-locks.yml
  changelog/1177.contributor.rst
Labels: type: gha

#1178 drop optional pyarrow for pandas 3.x
  changelog/1178.dependency.rst
  requirements/geovista.yml
  requirements/pypi-optional-exam.txt
Labels: type: dependencies

#1183 adopt latest sphinx-autoapi templates
  changelog/1183.documentation.rst
  docs/src/_autoapi_templates/python/README.md
  docs/src/_autoapi_templates/python/module.rst
Labels: type: documentation

#1185 use latest geovista-data assets
  changelog/1185.asset.rst
  docs/src/developer/changelog.md
  pyproject.toml
  src/geovista/cache/__init__.py
  src/geovista/cache/registry.txt
Labels: type: documentation, type: infrastructure, type: cache

#1188 deps: enforce rasterio >=1.4.2 min pin
  changelog/1188.dependency.rst
  requirements/geovista.yml
  requirements/pypi-optional-exam.txt
Labels: type: dependencies
