Repository bjlittle/geovista, pull requests merged in 2024-08, with the labels that each got.

#1034 updated readme.md to promote the candy store
  README.md
  changelog/1034.community.rst
  docs/src/index.rst
Labels: type: documentation, type: infrastructure

#1036 adjusted number of contributors per line
  .all-contributorsrc
  changelog/1036.internal.rst
Labels: type: infrastructure

#1040 updated rtd mambaforge version
  .readthedocs.yml
  changelog/1040.dependency.rst
  changelog/1040.internal.rst
  requirements/geovista.yml
Labels: type: infrastructure

#1039 add temporary max pin for towncrier
  changelog/1039.dependency.rst
  requirements/geovista.yml
  requirements/pypi-optional-docs.txt
Labels: type: dependencies

#1045 Add Mentioned in Awesome Open Geoscience badge
  README.md
Labels: type: documentation, type: infrastructure

#1050 fixed typos and extended codespell skips
  changelog/1014.documentation.rst
  changelog/1050.internal.rst
  pyproject.toml
Labels: type: infrastructure

#1051 add min pin sphinx-autoapi>=3.2.0
  changelog/1051.dependency.rst
  requirements/geovista.yml
  requirements/pypi-optional-docs.txt
Labels: type: dependencies

#1053 adopt latest sphinx-autoapi templates
  changelog/1039.dependency.rst
  changelog/1040.dependency.rst
  changelog/1053.documentation.rst
  docs/src/_autoapi_templates/python/README.md
  docs/src/_autoapi_templates/python/module.rst
Labels: type: documentation

#1054 updated region manifold extraction tutorial
  changelog/1054.documentation.rst
  docs/src/tutorials/region-manifold-extraction.ipynb
Labels: type: documentation

#1056 docs: initial whatsnew infrastructure
  changelog/1056.documentation.rst
  docs/src/conf.py
  docs/src/reference/changelog.rst
  docs/src/reference/index.rst
  docs/src/reference/whatsnew.rst
  docs/src/reference/whatsnew/index.rst
  docs/src/reference/whatsnew/latest.rst
  docs/src/reference/whatsnew/latest.rst.template
Labels: type: documentation

#1057 docs: whatsnew reference to release GH discussion
  changelog/1057.documentation.rst
  docs/src/reference/whatsnew/latest.rst
  docs/src/reference/whatsnew/latest.rst.template
Labels: type: documentation

#1058 docs: clarify unreleased whatsnew details
  changelog/1058.documentation.rst
  docs/src/reference/whatsnew/latest.rst
  docs/src/reference/whatsnew/latest.rst.template
Labels: type: documentation

#1064 Dropping nbQA from .pre-commit-config.yaml
  .pre-commit-config.yaml
  changelog/1064.internal.rst
Labels: type: infrastructure

#1067 unpin towncrier
  changelog/1067.dependency.rst
  requirements/geovista.yml
  requirements/pypi-optional-docs.txt
Labels: type: dependencies

#1070 update towncrier changelog template
  changelog/1020.dependency.rst
  changelog/1039.dependency.rst
  changelog/1067.dependency.rst
  changelog/1070.documentation.rst
  changelog/template.rst
  pyproject.toml
Labels: type: infrastructure
