Repository bjlittle/geovista, pull requests merged in 2025-06, with the labels that each got.

#1466 bug: close pooch cache registry
  changelog/1466.bugfix.rst
  src/geovista/cache/__init__.py
Labels: type: bug

#1495 gha: consolidate cartopy-cache composite action caching
  .github/workflows/ci-docs.yml
  .github/workflows/ci-tests-lock.yml
  .github/workflows/ci-tests-pypi.yml
  .github/workflows/ci-tests.yml
  .github/workflows/composite/cartopy-cache/action.yml
  changelog/1495.contributor.rst
Labels: type: gha

#1498 gha: tidy composites
  .github/workflows/ci-tests-pypi.yml
  .github/workflows/composite/cartopy-cache/action.yml
  .github/workflows/composite/geovista-cache/action.yml
Labels: type: gha, skip changelog

#1499 cli: add --data-version
  changelog/1499.feature.rst
  src/geovista/cli.py
  tests/cli/__init__.py
  tests/cli/test_main.py
Labels: type: testing, type: cli

#1257 Add zizmor security linter to pre-commit
  .github/workflows/ci-approve.yml
  .github/workflows/ci-changelog.yml
  .github/workflows/ci-citation.yml
  .github/workflows/ci-docs.yml
  .github/workflows/ci-label.yml
  .github/workflows/ci-linkcheck.yml
  .github/workflows/ci-locks.yml
  .github/workflows/ci-manifest.yml
  .github/workflows/ci-stale.yml
  .github/workflows/ci-tests-lock.yml
  .github/workflows/ci-tests-pypi.yml
  .github/workflows/ci-tests.yml
  .github/workflows/ci-update-pr-branch.yml
  .github/workflows/ci-wheels.yml
  .github/workflows/codeql.yml
  .github/workflows/composite/geovista-cache/action.yml
  .github/zizmor.yml
  .pre-commit-config.yaml
  changelog/1257.contributor.rst
Labels: type: infrastructure, type: gha

#1502 gha: tidy codecov
  .github/workflows/ci-tests.yml
Labels: type: gha, skip changelog

#1505 gha: tests-pypi with --data-version
  .github/workflows/ci-tests-pypi.yml
Labels: type: gha, skip changelog

#1509 use pypi trusted publishing for wheels
  .github/workflows/ci-wheels.yml
  changelog/1509.contributor.rst
Labels: type: gha

#1515 introduce ruff>=0.12 min pin
  changelog/1515.dependency.rst
  pyproject.toml
  requirements/pypi-optional-devs.txt
  requirements/pypi-optional-docs.txt
Labels: type: infrastructure, type: dependencies

#1518 docs: support optional inline plots
  changelog/1518.documentation.rst
  docs/Makefile
  docs/src/conf.py
  docs/src/developer/documentation.rst
  docs/src/quick_start.rst
Labels: type: documentation
