Repository bjlittle/geovista, pull requests merged in 2025-01, with the labels that each got.

#1266 fix geoplotter docstring
  src/geovista/geoplotter.py
Labels: type: bug, skip changelog

#1269 docs: rebrand changelog icon
  changelog/1269.documentation.rst
  docs/src/_static/images/icons/changelog.svg
  docs/src/developer/changelog.md
  docs/src/reference/changelog.rst
Labels: type: documentation

#1276 deps: pin pydata-sphinx-theme <0.16.0
  changelog/1276.dependency.rst
  requirements/geovista.yml
  requirements/pypi-optional-docs.txt
Labels: type: dependencies

#1279 docs: restructure contributing section
  .github/scripts/changelog.py
  changelog/1072.documentation.rst
  changelog/1080.documentation.rst
  changelog/1279.contributor.rst
  docs/src/developer/index.rst
  docs/src/developer/towncrier.rst
Labels: type: documentation

#1280 docs: add 101 changelog convenience
  changelog/1280.documentation.rst
  docs/src/index.rst
Labels: type: documentation

#1283 add gh stars badge to readme
  README.md
Labels: type: infrastructure, skip changelog

#1284 Add a gallery example for regional manifold extraction
  changelog/1284.documentation.rst
  src/geovista/cache/__init__.py
  src/geovista/cache/registry.txt
  src/geovista/examples/extraction/README.rst
  src/geovista/examples/extraction/__init__.py
  src/geovista/examples/extraction/wedge_manifold.py
Labels: type: examples, type: cache

#1294 docs: update extraction example docstring
  changelog/1294.documentation.rst
  src/geovista/examples/extraction/wedge_manifold.py
Labels: type: examples

#1299 use geovista.common.VTK_CELL_IDS
  src/geovista/common.py
  src/geovista/search.py
Labels: skip changelog

#1301 fix from_cartesian polar cell unfold
  changelog/1301.bugfix.rst
  src/geovista/common.py
  tests/common/test_from_cartesian.py
Labels: type: bug, type: testing

#1303 update to latest geovista-data version
  changelog/1185.asset.rst
  changelog/1303.asset.rst
  src/geovista/cache/__init__.py
  src/geovista/cache/registry.txt
Labels: type: cache

#1306 created `sample` sphinx-tags group
  changelog/1306.documentation.rst
  docs/src/conf.py
Labels: type: documentation

#1307 rename region extraction gallery examples section
  changelog/1307.documentation.rst
  src/geovista/examples/extraction/README.rst
Labels: type: examples

#1305 Banded contour example
  changelog/1305.documentation.rst
  src/geovista/cache/__init__.py
  src/geovista/cache/registry.txt
  src/geovista/examples/contour/README.rst
  src/geovista/examples/contour/__init__.py
  src/geovista/examples/contour/banded_contour.py
Labels: type: examples

#1309 add new sphinx-tags
  changelog/1309.documentation.rst
  docs/src/conf.py
  src/geovista/examples/curvilinear/from_2d__orca.py
  src/geovista/examples/curvilinear/from_2d__orca_moll.py
  src/geovista/examples/extraction/wedge_manifold.py
Labels: type: documentation, type: examples

#1300 MyPy Compliance
  .pre-commit-config.yaml
  changelog/1300.enhancement.rst
  pyproject.toml
  src/geovista/__init__.pyi
  src/geovista/bridge.py
  src/geovista/cache/__init__.py
  src/geovista/cli.py
  src/geovista/common.py
  src/geovista/config.py
  src/geovista/core.py
  src/geovista/crs.py
  src/geovista/examples/spatial_index/uber_h3.py
  src/geovista/geodesic.py
  src/geovista/geometry.py
  src/geovista/geoplotter.py
  src/geovista/gridlines.py
  src/geovista/pantry/data.py
  src/geovista/pantry/textures.py
  src/geovista/search.py
Labels: type: infrastructure, type: examples, type: cli
